/* Commencer avec les bonnes mesures */
* {
	box-sizing: border-box;
	transition-property:	opacity;
	transition-duration:	0.3s;
	transition-timing-function:ease-in-out;
}
a:focus, a:active,
select:focus, select:active {
	ouline:0; !important;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

body {
	max-width:	1200px;
	width:		90%;
	margin:		auto;
	background-color:rgba(200,200,200,0.05);
	overflow-x:	hidden;
}

body:not(.beta) .beta {
	display:	none;
}

button, .button {
	border-radius:	0.2em;
	border:		none;
	padding:	0.5em 1em;
	margin:		0 1.5em;
	background-color:#058;
	color:		#eee;
	box-shadow:	0.1em 0.2em rgba(0,160,240,0.5);
	font-size:	1em;
}
button:hover, .button:hover{
	background-color:#069;
}
button.active, .button.active{
	
}

[right]{
	float:		right;
}
[left]{
	float:		left;
}

.wrapper {
	width:		100%;
	padding:	1em 2em;
}

body .none, body *.none, body div *.none, body div div *.none {
	display:	none;
}
body .erase, body *.erase, body div *.erase, body div div *.erase {
	display:	none;
}

.list-frame {
	max-width:	100%;
	width:		100%;
	margin:		1em auto;
}
.list-container{
	height:		500px;
	max-height:	500px;
	overflow:	scroll;
}
.list-element {
	height:		2.7em;
	padding:	0.6em 1em;
	cursor:		pointer;
}
.list-element, .list-element>span {
	display: 	block;
	width:		100%;
	margin:		0;
	white-space:	nowrap;
}
.list-element:nth-of-type(2n):not([alt]),
.list-element[alt="true"]{
/*.list-element:not(.ng-hide):not(.erase):even {*/
	background-color:	rgba(200,200,200,0.5);
	background-color:	rgba(0,165,240,0.1);
}


div[popup] {
	position:	fixed;
	top:		0;
	left:		0;
	width:		100%;
	height:		100%;
	background-color:rgba(150,150,150,0.6);
	opacity:	1;
	transition:	opacity ease-in-out 0.3s;
}
div[popup].ng-hide {
	opacity:	0;
}
div[popup]>div {
	position:	relative;
	top:		50%;
	transform:	translateY(-50%);
	min-width:	500px;
	width:		60%;
	max-width:	800px;
	min-height:	500px;
	height:		60%;
	max-height:	90%;
	margin:		auto;
	border:		1px solid black;
	background-color:white;
}

#school-lists [popup]>div {
	padding:	1em;
}
/*#school-lists [popup] label {
	display:	block;
}*/



/*
[number-of-elements-found]{
	position:relative;
}
[number-of-elements-found]:before{
	position:	absolute;
	right:		1em;
	top:		0;
	content:	"( " attr(number-of-elements-found) " )";
	font-size:	0.8em;
}
*/

#school-lists .super-input {
	display:	inline-block;
	min-width:	35%;
}
#school-lists .form-block {
	min-height:	70%;

}
#school-lists .buttons-block {
	display:	flex;
	width:		100%;
	margin-top:	2em;
}
#school-lists .buttons-block>* {
	flex:		1;
}
#school-lists .buttons-block .reset-button {
	order:		1;
}
#school-lists .buttons-block .delete-button {
	order:		2;
}
#school-lists .buttons-block .cancel-button {
	order:		3;
}
#school-lists .buttons-block .close-button {
	order:		4;
}

#students-container div.list-element {
	position:	relative;
	overflow-x:	hidden;
}
#students-container div.list-element button {
	position:	absolute;
	top:		0.3em;
	right:		-100%;
	transition-property:	right;
	transition-duration:	0.3s;
	transition-timing-function:ease-in-out;
}
#students-container div.list-element:hover button {
	right:		1em;
}

#competences-container .group-container {
	position:	relative;
}
#competences-container .group-container {
	border-bottom:	1px dotted gray;
	padding:	1px;
	padding:	1em 0 0 2em;
	margin-bottom:	1em;
}
#competences-container .group-container:before {
	position:	absolute;
	content:	attr(competence-directory)" : ";
	left:		0;
	top:		0;
}

.sort-parameters-container{
	position:	absolute;
	top:		0.5em;
	right:		0.5em;
}
.sort-parameters-container .label-reverse-sort:after {
	content:	'↓';
}
.sort-parameters-container .label-reverse-sort.sort-reversed:after {
	content:	'↑';
}

