<div ng-form>
	<p class="erase">The search target is «{{search.searchTarget}}»<br/>
	The search terms are «{{search.searchTerms}}»</p>
	<div class="search-input">
		<label for="search-input" onclick="this.nextSibling.focus()"></label><br/>
		<input name="search-input" type="search" search-target="{{search.searchTarget}}" value="" ng-model="search.searchTerms" ng-change="search.doSearch()" onfocus="this.parentElement.classList.add('input-focused')" onblur="this.parentElement.classList.remove('input-focused')" />
		<a class="erase-input" ng-click="search.resetSearch()">&times;</a>
		<span style="float:right;">( {{search.numberOfElementsFound}} )</span>
	</div>
	<button type="submit" class="erase">Submit</button>
</div>

