<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="fr-fr" ng-app="competences">
<head>
	<title>Compétences</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
	<base href="."></base>
	<link rel="icon" href="ico/favicon2.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Expires" content="0" />
	<!-- Latest compiled and minified CSS -->
	<!-- Puls optional themes -->
	<!-- 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	-->
	<!-- Angular material CSS -->
	<link rel="stylesheet" href="https://material.angularjs.org/latest/angular-material.min.css">
	<link rel="stylesheet" href="css/competences.css" type="text/css"/>
	<link rel="stylesheet" href="css/onoffswitch.css" type="text/css"/>
</head>
<!--<body ng-controller="CompetencesController as competences">-->
<body ng-controller="SchoolController as school">
	<!-- CDN pour jQuery des serveurs de Google -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="js/competences.app.js"></script>


	<h1>Competences</h1>
	<div id="quick-menu">
	</div>

	<div ng-controller="TabController as tab" class="list-frame">
		<ul class="nav nav-pills">
			<li ng-class="{active: tab.isSet(1) }">
				<a ng-click="tab.setTab(1)">Élèves</a>
			</li>
			<li ng-class="{active: tab.isSet(2) }">
				<a ng-click="tab.setTab(2)">Competences</a>
			</li>
			<li ng-class="{active: tab.isSet(3) }">
				<a ng-click="tab.setTab(3)">Évaluations</a>
			</li>
		</ul>
		<div class="nav-tabs">
			<!--<div ng-show="tab.isSet(1)" class="nav-tab wrapper">-->
			<div ng-class="{active :tab.isSet(1)}" class="nav-tab wrapper">
				<button ng-click="school.setNewStudent()">Nouvel(le) élève</button>
				<search-input ng-controller="SearchController as search" ng-init="search.setTarget('#students-container')"></search-input>
				<ul class="radio-stack sort-parameters-container" ng-click="school.studentsSort()">
					<li>Trier par : &nbsp;&nbsp;<label class="label-reverse-sort" ng-class="{'sort-reversed': school.studentSortIsReversed}"><input type="checkbox" ng-model="school.studentsSortIsReverse" ng-click="school.studentsSort()"/></label></li>
					<li><label><input type="radio" name="sort-students-radio" ng-model="school.studentsSortAttribute" value="sort-tag"/><span>classe</span></label></li>
					<li><label><input type="radio" name="sort-students-radio" ng-model="school.studentsSortAttribute" value="sort-tag-by-name"/><span>nom</span></label></li>
					<li><label><input type="radio" name="sort-students-radio" ng-model="school.studentsSortAttribute" value="sort-tag-by-birthdate"/><span>date de naissance</span></label></li>
				</ul>
				<div class="list-container" id="students-container">
					<div ng-repeat="student in school.students" class="list-element" sort-tag="{{student.class}}-{{student.name}}-{{student.firstname}}" sort-tag-by-birthdate="{{student.birthdateReverse}}-{{student.name}}" sort-tag-by-firstname="{{student.name}}-{{student.firstname}}-{{student.class}}">
						<span ng-click="school.selectStudent(student)" title="{{student.name}} {{student.firstname}} en {{student.class}} est né {{student.birthdate}}" ng-class="school.currentStudent == student">
							{{student.firstname}} {{student.name}} né<span ng-class="{erase: student.gender === 'M'}">e</span> le {{student.birthdate}} est en {{student.class}} ({{student.sid}})
						</span>
						<button ng-click="bilanEleve(student)">bilan de {{student.firstname}}</button>
					</div>
				</div>
			</div>
			<div ng-class="{active :tab.isSet(2)}" class="nav-tab wrapper">
				<button ng-click="school.setNewCompetence()">Nouvelle compétence</button>
				<search-input ng-controller="SearchController as search" ng-init="search.setTarget('#competences-container')"></search-input>
				<div class="list-container" id="competences-container">
					<div ng-repeat="(groupName,groupSet) in school.competences" class="group-container" competence-directory="{{groupName}}">
						<div ng-repeat="competence in groupSet" class="list-element">
							<span ng-click="school.selectCompetence(competence)" title="{{competence.name}} en {{competence.level}} in @{{competence.directory}}">
								{{competence.name}} <i>&gt;@{{competence.directory}}</i> en {{competence.level}}
							</span>
						</div>
					</div>
				</div>
			</div>
			<div ng-class="{active :tab.isSet(3)}" class="nav-tab wrapper">
				<button ng-click="school.setNewEvaluation()">Nouvelle évaluation</button>
				<search-input ng-controller="SearchController as search" ng-init="search.setTarget('#evaluations-container')"></search-input>
				<div class="list-container" id="evaluations-container">
					<div ng-repeat="eval in school.evaluations" class="list-element">
						<span ng-click="school.selectEvaluation(eval)" title="{{eval.name}} pour les {{eval.class}} le {{eval.weekDay}}, {{eval.date}}">
							{{eval.name}} pour les {{eval.class}} le {{eval.weekDay}} {{eval.date}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="school-lists">
		<div  popup ng-show="school.isPopup('student')">
			<div class="container wrapper">
				<h2>Élève  id:{{school.currentStudent.sid}}</h2>
				<form class="wrapper" novalidate>
					<div class="form-block">
						<!-- Text input-->
						<label-input input-label="'Prénom'" input-model="school.currentStudent.firstname"></label-input>
						<label-input input-label="'NOM'" input-model="school.currentStudent.name"></label-input>
						<label-input input-label="'Date de naissance'" input-model="school.currentStudent.birthdate"></label-input>
						<label-input input-label="'Classe'" input-model="school.currentStudent.class"></label-input>
						<ul class="radio-stack">
							<li>Sexe : {{school.currentStudent.gender}}</li>
							<li><label><input type="radio" name="student.gender" ng-model="school.currentStudent.gender" value="M"/><span>M</span></label></li>
							<li><label><input type="radio" name="student.gender" ng-model="school.currentStudent.gender" value="F"/><span></span>F</label></li>
						</ul>
						<button class="none"></button>
					</div>
					<div class="buttons-block">
						<button ng-click="school.resetStudent()">Reset</button>
						<button ng-click="school.deleteStudent()">Supprimer</button>
						<button ng-click="school.saveStudent()">Fermer</button>
					</div>
				</form>
			</div>
		</div>
		<div  popup ng-show="school.isPopup('competence')">
			<div class="container">
				<h2>Compétences</h2>
				<form class="wrapper" novalidate>
					<div class="form-block">
						<!-- Text input-->
						<label-input input-label="'Nom'" input-model="school.currentCompetence.name"></label-input>
						<div class="super-input">
							<select ng-model="school.currentCompetence.directory">
								<option ng-repeat="(groupName,groupSet) in school.competences" class="group-container" value="{{groupName}}">{{groupName}}</option>
								<option ng-click="school.openDirectorySettings('add')" value="">*nouvelle*</option>
							</select>
							<label for="my-input" onclick="this.previousSibling.focus()">Dossier</label>
						</div>
						<label-input input-label="'Niveau'" input-model="school.currentCompetence.level"></label-input>
						<label-input input-label="'Matière'" input-model="school.currentCompetence.subject"></label-input>
						<button class="none"></button>
					</div>
					<div class="buttons-block">
						<button ng-click="school.resetCompetence()">Reset</button>
						<button ng-click="school.deleteCompetence()">Supprimer</button>
						<button ng-click="school.saveCompetence()">Fermer</button>
					</div>
				</form>
			</div>
		</div>
		<div  popup ng-show="school.isPopup('evaluation')">
			<div class="container wrapper">
				<h2>Évaluation</h2>
				<form class="wrapper" novalidate>
					<div class="form-block">
						<!-- Text input-->
						<label-input input-label="'Nom'" input-model="school.currentEvaluation.name"></label-input>
						<label-input input-label="'Date'" input-model="school.currentEvaluation.date"></label-input>
						<label-input input-label="'Classe'" input-model="school.currentEvaluation.class"></label-input>
						<label-input input-label="'Competences'" input-model="school.currentEvaluation.competences"></label-input>
						<label-input input-label="'Barème'" input-model="school.currentEvaluation.scaleOfSuccess"></label-input>
						<button class="none"></button>
					</div>
					<div class="buttons-block">
						<button ng-click="school.resetEvaluation()">Reset</button>
						<button ng-click="school.deleteEvaluation()">Supprimer</button>
						<button ng-click="school.saveEvaluation()">Fermer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div>
		<button ng-click="showCode=!showCode"> Montrer/Cacher </button><br/>
		<code ng-show="showCode" style="max-height:20em; max-height:60%;">
			<!--{{school.students}}-->
		</code>
	</div>
</body>
</html>
